{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block background %}{% load static %}{% static '../static/img/equipo.jpg' %}{% endblock %}

{% block headers %}
{% include "nav-bar.html" %}
<div class="container" style="width: 400px; height:500px;">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" >
              
     			<h1>Equipo directivo</h1>         

              </div>
          </div>
        </div>
      </div>
     
    <!-- <span class="subheading">Ingeniero en Sistemas Computacionales</span>-->
    
{% endblock %}              

{% block content %}
<h2>Plantel 01 Tuxtla-Terán</h2>
<h1>DIRECTOR</h1>
<h3>Lic. Sergio Esteves Arcuri</h3>
<h1>Subdirector de Plantel (Matutino)</h1>
<h3>Lic. Ignacio Villarreal Santizo</h3>
<h1>Subdirector de Plantel (Vespertino)</h1>
<h3>Arq. Juan Alberto Bravo Vázquez</h3>
{% endblock %}

