{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block background %}{% endblock %}

{% block headers %}
    {% include "nav-bar.html" %}
<div class="container" style="width: 400px; height:500px;">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" >
              
          <h1>Extra escolares</h1>         

              </div>
          </div>
        </div>
      </div>
{% endblock %}  
             

{% block content %}
  {% if comunicado %}

      <!-- Page Heading -->
      <h1 class="my-4">Comunicados Para-escolares
        <small> <p>COBACH 01</p> </small>
        </h1>
      <div class="row">
        {% for c in comunicado %}
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <img class="card-img-top" src="{{c.image.url}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{c.title}}</h4>
               <p>{{c.description}}</p> 
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
       <h1>No ay comunicados</h1>
  {% endif %}
      </div>
     
{% endblock %}
