{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block background %}{% load static %}{% static '../static/img/valores.jpg' %}{% endblock %}

{% block headers %}
{% include "nav-bar.html" %}
<div class="container" style="width: 400px; height:500px;">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" >
              
     			<h1>Valores</h1>         

              </div>
          </div>
        </div>
      </div>
{% endblock %}              

{% block content %}

<h2>Honradez</h2> <p>
En el desarrollo de sus actividades los servidores
públicos deben actuar con la máxima rectitud posible, sin pretender
obtener con base en el cargo, empleo o comisión que desempeñan
ventaja o provecho alguno, para sí o para terceros. Asimismo,
deben abstenerse de aceptar o buscar prestaciones o
compensaciones provenientes de cualquier persona, evitando de
esta manera la realización de conductas, que pudieran poner en
duda su integridad o disposición para el cumplimiento de los
deberes propios del cargo.
</p>
<h2>Legalidad</h2> <p>
El servidor público debe ejercer sus actividades con
estricto apego al marco jurídico vigente, por ende, se encuentra
obligado a conocer, respetar y cumplir la Constitución Política de los
Estados Unidos Mexicanos, la Constitución Política del Estado de
Chiapas, la Ley Orgánica de la Administración Pública del Estado de
Chiapas, y demás leyes y reglamentos que regulan sus funciones.
</p> 
<h2>Prudencia</h2> <p>
En aquellos casos en que el servidor público se
encuentre ante situaciones no previstas por las leyes, éste deberá
utilizar la razón, a efecto de ser capaz de distinguir lo bueno y lo
malo, procurando por encima de cualquier interés particular el
bienestar colectivo.
</p>
<h2>Imparcialidad y Objetividad</h2> <p>
Los servidores públicos se
encuentran comprometidos a proceder de manera correcta durante
el ejercicio de las funciones que desempeñan, dirigiendo su
conducta de acuerdo a las normas legales que para el caso se
encuentren establecidas, dejando a un lado cualquier tipo de
influencias extrañas que pudieran desviarla, actuando sin conceder
preferencias o privilegios indebidos a organización o persona
alguna; evitando que influya en su juicio y conducta, intereses
externos que perjudiquen o beneficien a personas o grupos en
detrimento del bienestar de la sociedad, desarrollando su actuación
sin aprensiones o prejuicios, apegándose en todo momento a las
reglas institucionales que al efecto existan. 
</p>
<h2> Compromiso</h2> <p>
Los servidores públicos deberán procurar que
durante el desarrollo de sus funciones vaya más allá del simple
cumplimiento de su deber, pretendiendo que el ejercicio de sus
actividades sea efectivo, eficaz y eficiente.
</p> 
<h2>Responsabilidad</h2> <p>
 El servidor público se encuentra obligado a
cumplir con esmero, cuidado y atención todos sus deberes,
reconociendo y aceptando las consecuencias de los hechos que ha
realizado, en concordancia con los principios y valores previstos en
el presente Código de Ética.
</p>
<h2>Dignidad y Decoro</h2> <p>
El servidor público debe observar una
conducta digna y decorosa, actuando con sobriedad y moderación;
consecuentemente su trato hacia el público y para con los demás
funcionarios, debe ser en todo momento con pleno respeto y
corrección. 
</p>
<h2>Transparencia y Discreción</h2> <p>
El servidor público debe velar porque
se garantice plenamente la transparencia del servicio público y el
derecho fundamental de toda persona al acceso a la información
pública, sin más limitaciones que las previstas por causas de interés
público y la confidencialidad de datos personales, establecidos por
las leyes de transparencia y acceso a la información, impidiendo o
evitando el mal uso, sustracción , destrucción, ocultamiento o
inutilización de los mismos.
Asimismo, no debe utilizar, en beneficio propio, de terceros o para
fines ajenos al servicio, información de la que tenga conocimiento
con motivo o en ocasión del ejercicio de sus funciones y que no esté
destinada para su difusión.
</p>
<h2>Justicia</h2> <p>
El respeto al estado de derecho es una obligación de todo
individuo que se integre a la sociedad, en este sentido el servidor
público es quien se encuentra mayormente comprometido a ello, es
por eso, que en el ejercicio de sus funciones deberá conducirse con
respeto hacia la sociedad y con estricto apego a las normas
jurídicas que regulan el ejercicio de sus funciones, procurando en
todo momento la aplicación del derecho.
</p>
<h2>Igualdad</h2> <p>
El servidor público no debe realizar actos discriminatorios
en su relación con el público o con los demás servidores públicos,
otorgando a todas las personas igualdad de trato en igualdad de
situaciones. Se entiende que existe igualdad de situaciones cuando
no median diferencias que de acuerdo con las normas vigentes,
deben considerarse para establecer alguna preferencia.
Este principio se aplica también a las relaciones que el funcionario
mantenga con sus subordinados.
</p> 
<h2>Respeto</h2> <p>
Es la actitud que todo servidor público debe guardar
frente a los demás, a efecto de aceptar, comprender y considerar
durante el ejercicio de sus funciones los derechos, libertades y
cualidades que cada individuo posee, reconociendo de esta manera
el valor de la condición humana, lo que le permitirá poder brindar a
los miembros de la sociedad un trato digno, cortés, cordial y
tolerante.
</p>

<h2>Integridad</h2><p>
Todo servidor público debe ejercer sus funciones con
plena rectitud y probidad, atendiendo siempre la verdad,
fomentando la credibilidad en las instituciones y la confianza por
parte de la sociedad .
</p> 
<h2>Tolerancia</h2> <p>
El servidor público debe respetar las ideas, creencias y
prácticas de la sociedad, observando en todo momento un grado de
tolerancia superior al ciudadano común, con respecto a las críticas
del público y de la prensa. 
</p>
{% endblock %}

