{% extends "siscontrol/base-siscontrol.html" %}
{% block head %}
  
{% endblock %}              
{% load static %}
{% block content %}
              {% if request.user.turno == 'Mi' %}
                {% include 'nav-bar-docente.html' %}
              {% elif request.user.turno == 'Di' %}
                {% include 'nav-bar-director.html' %}
              {% elif request.user.turno == 'Pa' %}
                {% include 'nav-bar-extra.html' %}
              {% else %}
                {% include 'nav-bar-admin.html' %}
              {% endif %} 



<div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <table border="1">
        </div>    
        <div class="card mb-3">
            <center><img src="../static/img/cobach01.jpg" style="width: 500px; height: 300px;" id="myAreaChart" width="100%" height="30">
              <div class="container">
                <form method="post" name="f1"  >{% csrf_token %}
                 {% if 'register' in request.GET %}
                  <p style=" color:green;">Usuario registrado correctamente, inicie sesion porfavor</p>
                  {% endif %}
                  <div class="col-lg-5 col-md-6" >
                    <input type="password" name="old_password" required id="id_password" class="text-center"placeholder="anterior Contraseña"/>
              <br></br>
                    <label for="pasahitza" id="pass"><strong>Contraseña:</strong></label>
                    <input type="password" name="new_password1" required id="pass" class="text-center" placeholder="nueva Contraseña"/>
              <br></br>
                  <label for="pasEr" id="passC"><strong>Confirmar contraseña:</strong></label>
                  <input type="password" name="new_password2" required id="passC" class="text-center" placeholder="confirmar Contraseña"/></div> 
              <br></br>
              
                  <button type="submit" id="boton" class="btn btn-primary" onClick="validar_clave)">Cambiar</button>


    </form></center>
</div>


              </div>
            </div>
{% endblock %}
