pñ {% extends 'base.html' %}

{% block title %}Iniciar sesión{% endblock %}
{% block background %}{% load static %}{% static '../static/img/' %}{% endblock %}
{% block headers %}
    {% include 'nav-bar.html' %} 
    <div class="container" style="width: 400px; height:500px;">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" >
              
          <h1>Inicia la sesion</h1>         

              </div>
          </div>
        </div>
      </div>
{% endblock %} 
{% block content %}<br><br><br><br>

        
<div class="w3-container w3-flat-clouds">

    
  <div class="row">
    <div class="col-md-9 login-sec">
        <h2 class="text-center">COBACH 01</h2>
        <main role="main">
  <!--<div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">
          {% csrf_token %}
         {{  form.as_p }}
          {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de usuario"/>
          </p>
          <p>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
          </p>
          <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>  
        </form>
        <p>
            ¿Ha olvidado su contraseña?, restaurela <a href="">aqui</a>
        </p>
      </div>
    </div>
  </div>-->

  <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form method="POST">{% csrf_token %}
            {% if form.non_field_errors %}
              <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
            {% endif %}
            <div class="form-group">
              <div class="form-label-group">
                <input type="text"  name="username" class="form-control" placeholder="Email address o Username" required="required" autofocus="autofocus">
                <label for="inputEmail">Email address o Username</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Acceder">
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>

</main>
</div>
</div>

{% endblock %}