{% extends 'siscontrol/base-siscontrol.html' %}

{% block title %}{% endblock %}

{% block background %}}{% endblock %}

{% block headers %}    
{% endblock %}              

{% block content %}
{% include 'nav-bar-docente.html' %}

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        </table border="1">
        </div>    
        <div class="card mb-3">
            <div class="card-header"><i class="fas fa-table"></i>
              Horario</div>
              <div class="table-responsive">
                {% if 'register' in request.GET %}
                  <h1 style=" color:green;">Calificacion agregada existosamente</h1>
                 {% endif %}
                <form method="POST" >{% csrf_token %}
                  {{ form.as_table }}
                  <p><button type="submit" class="btn btn-primary btn-block" value="Subir">Subir</button></p>   
                </form>
              </div>
            </div> 
            </div>

{% endblock %}



