{% extends 'siscontrol/base-siscontrol.html' %}

{% block title %}{% endblock %}

{% block background %}{% endblock %}

{% block headers %}
    
{% endblock %}              

{% block content %}
{% include 'nav-bar-extra.html' %}

<!-- Page Content -->
    <div class="container">
      {% if comunicado %}
        
      <!-- Page Heading -->
      <h1 class="my-4">COBACH 01
        <small>Lista de post</small>
      </h1>
      <hr>
{% for c in comunicado %}
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
             {% if c.image %}
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{c.image.url}}">
                {% else %}
                {% endif %}
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{c.title}}</h3>
          <p>{{c.description}}</p> 
          <a class="btn btn-primary" href="/siscontrol/delete_extra/{{c.id}}">Elminiar</a>
        </div>
      </div>
      <hr>
     {% endfor %}
      <hr>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
 

      {% else %}
       <h1>No ay comunicados</h1>
     
      {% endif %}
    </div>
    <!-- /.container -->

    
{% endblock %}