{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static '../static/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
{% include "nav-bar.html" %}
 <div class="container" style="width: 400px; height:500px;" >
        <div class="row">
          <div class="col-lg-8 col-md-9 mx-auto">
            <div class="site-heading"><br><br>

              
          <h2>Contacto</h2>         

              </div>
          </div>
        </div>
      </div>    

{% endblock %}              

{% block content %}
<form action="" enctype="multipart/form-data" method="POST" role="form">
    <div class="col-xs-6 col-sm-6 ">
                <label>Primer Nombre* </label>
                <div class="input-group">
                    <input class="form-control" id="" maxlength="15" minlength="3" name="first" placeholder="Escribe tu nombre" type="text">
                    </input>
                </div>
            </div>

    <div class="col-xs-6 col-sm-6 ">
                <label>segundo Nombre* </label>
                <div class="input-group">
                    <input class="form-control" id="" maxlength="15" minlength="3" name="last" placeholder="Escribe el segundo nombre" type="text">
                    </input>
                </div>
            </div>

    <div class="col-xs-6 col-sm-6 ">
                <label>Apellido* </label>
                <div class="input-group">
                    <input class="form-control" id="" maxlength="15" minlength="3" name="apellidos" placeholder="Escribe tu Apellido" type="text">
                    </input>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 ">
                <label>
                    Numero Telefonico *
                </label>
                <div class="input-group">
                    <input class="form-control" id="" maxlength="10" minlength="3" name="telefono"  type="text">
                    </input>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 ">
                <label>Asunto *</label>
                <div class="input-group" >
                    <textarea class="form-control" name="Asunto" rows="10" cols="30" type="text"></textarea>
        </div>
    </div>
       
     
        <div class="submit-btn-container">
            <input class="contact-form-submit-btn" type="submit" value="Enviar" style="background-clip: padding-box">
        </div>
      
    </form>
{% endblock %}



