{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static '../static/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
{% include "nav-bar.html" %}
 <div class="container" style="width: 400px; height:500px;" >
        <div class="row">
          <div class="col-lg-8 col-md-9 mx-auto">
            <div class="site-heading"><br><br>

              
          <h2>Contacto</h2>         

              </div>
          </div>
        </div>
      </div>    

{% endblock %}              

{% block content %}


<form accept-charset="ISO-8859-1" class="oneWebCntForm" name="contact form">
        <div class="contact-form-field-container" dataformelement="Teléfono" data-index="0"><label>Teléfono *</label><input id="B836FE80-013F-425E-80BA-731EAA540EAC" type="tel" name="Teléfono">
        </div>
        <span class="error">&nbsp;</span>
        <div class="contact-form-field-container" dataformelement="Asunto" data-index="1"><label>Asunto *</label><input id="034515FF-3A26-46FE-BD80-5E0CBA46B65A" type="text" name="Asunto">
        </div>
        <span class="error">&nbsp;</span>
        <div class="contact-form-field-container" dataformelement="Nombre" data-index="2"><label>Nombre *</label><input id="7EDD0079-E075-44B1-9FFA-B06413B13D2B" type="text" name="Nombre">
        </div>
        <span class="error">&nbsp;</span>
        <div class="contact-form-field-container" dataformelement="Correo Electrónico" data-index="3"><label>Correo Electrónico *</label><input id="69C80640-C90A-40E9-8DAE-29ED290C2388" type="email" name="Correo Electrónico">
        </div>
        <span class="error">&nbsp;</span>
        <div class="contact-form-field-container" dataformelement="Mensaje" data-index="4"><label>Mensaje *</label><textarea id="4CCC681E-1DA1-4417-91EE-9DE7662B11D4" type="text" name="Mensaje"></textarea>
        </div>
        <span class="error">&nbsp;</span>
        <div class="contact-form-submit-btn-container"><input class="contact-form-submit-btn button1" type="submit" value="Enviar" style="background-clip: padding-box">
        </div>
        <div id="contactFormResponseContainer" class="contactFormResponseStatus"></div>
    </form>
{% endblock %}



