<!DOCTYPE html>
<html lang="es">

  <head> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    

    <title>{% block title %}{% endblock %}Mi web personal | Cobach 01</title>

        
    <link href="{{STATIC_URL}}css/2-col-portfolio.css" rel="stylesheet">
  <!-- Estilos y fuentes del template  -->
     <link href="{{STATIC_URL}}css/1-col-portfolio.css" rel="stylesheet">
    <link href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- GENERAR PDF CON JSPDF-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha256-DupmmuWppxPjtcG83ndhh/32A9xDMRFYkGOVzvpfSIk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js" integrity="sha256-gJWdmuCRBovJMD9D/TVdo4TIK8u5Sti11764sZT1DhI=" crossorigin="anonymous"></script>
    
    <link href="{{STATIC_URL}}lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lib/animate/animate.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="{{STATIC_URL}}css/clean-blog.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
  </head>
  <style>
    

  </style>

  <body>
   
    <!-- Navegación -->

    <header class="masthead" style="background-image: url('{% block  background %}{% endblock %}') " >
     <div class="overlay"></div>
      {% block headers %}{% endblock %}
      
    </header>
    <!-- Contenido-->
   
    <div class="container">
      
  
          {% block content %}{% endblock %}
        </div>
      </div>  
    </div>
    
    {% if request.path != "/" %}<hr>{%  endif%}
    <!-- Pié de página -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; 2018 · Colegio de bachilleres plantel 01 COBACH  </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap y Javascripts -->
    <script src="{{STATIC_URL}}vendor/jquery/jquery.min.js"></script>
    <script src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{STATIC_URL}}js/clean-blog.min.js"></script>

    <!-- JavaScript Libraries -->
 
  <script src="{{STATIC_URL}}lib/jquery/jquery-migrate.min.js"></script>
  <script src="{{STATIC_URL}}lib/easing/easing.min.js"></script>
  <script src="{{STATIC_URL}}lib/superfish/hoverIntent.js"></script>
  <script src="{{STATIC_URL}}lib/superfish/superfish.min.js"></script>
  <script src="{{STATIC_URL}}lib/wow/wow.min.js"></script>
  <script src="{{STATIC_URL}}lib/waypoints/waypoints.min.js"></script>
  <script src="{{STATIC_URL}}lib/counterup/counterup.min.js"></script>
  <script src="{{STATIC_URL}}lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="{{STATIC_URL}}lib/isotope/isotope.pkgd.min.js"></script>
  <script src="{{STATIC_URL}}lib/lightbox/js/lightbox.min.js"></script>
  <script src="{{STATIC_URL}}lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{STATIC_URL}}contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="{{STATIC_URL}}js/main.js"></script>
    
  <!--LIBRERÍA DE SCRIP PARA PDF-->
  <script src="{{STATIC_URL}}js/jspdf.debug.js"></script>
  <script src="{{STATIC_URL}}js/jspdf.min.js"></script>

  <!--SCRIP DE GENERACION DE PDF A IMPRIMIR-->
   <script src="{{STATIC_URL}}js/jsPDF/nuevo_ingreso.js"></script>
   <script src="{{STATIC_URL}}js/jsPDF/reinscripcion_regulares.js"></script>
   <script src="{{STATIC_URL}}js/jsPDF/reinscripcion_repetidores.js"></script>
   <script src="{{STATIC_URL}}js/jsPDF/reinscripcion_cursadores.js"></script>

  </body>

</html>
